
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #222;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
}

.navbar-header .navbar-brand {
  color: #ccc; 
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar-brand a {
  text-align: right;
}

.navbar-header .navbar-brand:hover {
  color: #fff;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: left;
}

.navbar-nav li {
  position: relative;
  display: inline-block;
}

.navbar-nav li a {
  color: #ccc; 
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav li.active a {
  background-color: #000; 
  color: white;
}

.navbar-nav li a:hover {
  background-color: #000; 
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-menu li {
  display: block; 
}

.dropdown-menu li a {
  color: #ccc; 
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #000; 
  color: white;
}

.navbar-nav li:hover .dropdown-menu {
  display: block;
}



.grid-Kunde{
  display: grid;
  grid-template-columns: 35%;
  grid-template-rows: 35px;
  margin: 20px;
  column-gap: 10px;
  /*border: 5px outset aquamarine;
  border-radius: 20px;
  padding: 10px;*/
}

#Kunde{
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding-left: 10px;
}

.grid-Titel{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 40px;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}

#Titel {
  margin-right: 10px;
}

.grid-Dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18px;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}

.Typ {
  font-size: small;
  text-align: left;
  margin-top: 1px;
}
#Status{
  height: 30px;
}

.grid-Erst_Bearb{
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}

.grid-Ersteller{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px;
  padding: 10px;
  border-right: 4px solid darkgrey;
}

.grid-Bearbeiter {
  display: flex; 
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 45px;
  align-items: left; 
  gap: 10px; 
  padding: 10px;
  overflow-y: auto;
}

.grid-DateTime{
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  gap: 1%; 
}
#Erstellzeit{
  text-align: center;
}
#Bearbeitungszeit{
  text-align: center;
}

.bearbeiter-feld {
  display: grid; 
  grid-template-columns: 100%;
}

#Ersteller {
  height: 35px; 
}

#Bearbeiter {
  height: 35px; 
}

#Bearbeiter input {
  flex: 1; 
}

#Erstelldatum{
  height: 40px;
}
#Bearbeitungsdatum{
  height: 40px;
  margin-right: 10px;
}

.grid-Beschreibung{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}
#Dienstleistungsauswahl{
  border-right: solid darkgrey;
}

.grid-Suche{
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: solid darkgrey;
  padding-bottom: 2.5px;
}

#SucheDienstleistung{
  size: auto;
  margin-right: 5px;
  text-align: center;
}

#ButtonSuche{
  size: auto;
  margin-right: 5px;
}

#Beschreibung{
  resize: none;
}

.grid-Dienstleistung{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}

.grid-Itern{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 150px;
  margin: 20px;
  margin-top: 0px;
  column-gap: 10px;
  border: 4px solid darkgrey;
  border-radius: 20px;
  padding: 10px;
}

#Interne_Notiz{
  resize: none;
}

#Interner_Status{
  resize: none;
  margin-right: 10px;
}

.Oberbegriff {
  font-size: small;
  text-align: left;
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: 0px;
}