<!DOCTYPE html>
<nav class="admin_nav_bar">
  <a href="/helpdesk/Page/routes/admin/routes/art.html">Art</a>
  <a href="/helpdesk/Page/routes/admin/routes/bezahlungsart.html">Bezahlungsart</a>
  <a href="/helpdesk/Page/routes/admin/routes/kunde.html">Kunde</a>
  <a href="/helpdesk/Page/routes/admin/routes/mitarbeiter.html">Mitarbeiter</a>
  <a href="/helpdesk/Page/routes/admin/routes/ort.html">Ort</a>
  <a href="/helpdesk/Page/routes/admin/routes/prioritaet.html">Priorität</a>
  <a href="/helpdesk/Page/routes/admin/routes/rechtegruppe.html">Rechtegruppe</a>
  <a href="/helpdesk/Page/routes/admin/routes/status.html">Status</a>
  <a href="/helpdesk/Page/routes/admin/routes/dienstleistung.html">Dienstleistung</a>
  <a href="/helpdesk/Page/routes/ticket/">Ticket</a>
  <a href="/helpdesk/Page/routes/rechnung/">Rechnung</a>
  <a href="/helpdesk/Page/routes/admin/index.html">Startpage</a>
  <a class="end" href="/helpdesk/Page/routes/login/php/logout.php">Logout</a>
</nav>