table
{
    width: 75%;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

a:link
{
    color: black;
}

a:hover
{
    color: darkgrey;
}

a:visited
{
    color: black;
}