body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameArea {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#movingButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff5733;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.01s ease;
}

#gewonnenText {
    font-size: 50px;
    color: green;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trollFace {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restartButton {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.racingButton {
    position: absolute;
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s linear;
}
