<!DOCTYPE html>
<header id="navbar">
  <nav>
    <ul>
      <li><a href="/helpdesk/Page/routes/admin/routes/art.html">Art</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/bezahlungsart.html">Bezahlungsart</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/kunde.html">Kunde</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/mitarbeiter.html">Mitarbeiter</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/ort.html">Ort</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/prioritaet.html">Priorität</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/rechtegruppe.html">Rechtegruppe</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/status.html">Status</a></li>
      <li><a href="/helpdesk/Page/routes/admin/routes/dienstleistung.html">Dienstleistung</a></li>
      <li><a id="navTicket" href="/helpdesk/Page/routes/ticket/">Ticket Übersicht</a></li>
      <li><a id="navRechnung" href="/helpdesk/Page/routes/rechnung/">Rechnung Übersicht</a></li>
      <li><a href="/helpdesk/Page/routes/admin/index.html">Startpage</a></li>
      <li><a class="end" href="/helpdesk/Page/routes/login/php/logout.php">Logout</a></li>
    </ul>
  </nav>
</header>